body{
    background: #5ff5f9;
}

.App {
  text-align: center;

}

.title{
  width: 100%;
  height: 25px;
  border-bottom: 3px solid black;
  text-align: center;
  font-weight: bold;
}

.title-text{
  font-size: 30px;
  background-color: #5ff5f9;
  padding: 10px;
}

.title-form{
  padding: 40px;
}
